extends layout

block header
  head
  meta(charset='UTF-8')
  title Responsive & Accessible Data Table
  script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js', type='text/javascript')
  meta(name='viewport', content='width=device-width')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
  style.
    /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
    * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
    *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
    body {

    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    color: #5e5d52;
    }
    a {
    color: #337aa8;
    }
    a:hover, a:focus {
    color: #4b8ab2;
    }
    .container {
    margin: 5% 3%;
    }
    @media (min-width: 48em) {
    .container {
    margin: 2%;
    }
    }
    @media (min-width: 75em) {
    .container {
    margin: 2em auto;
    max-width: 75em;
    }
    }
    .responsive-table {
    width: 50%;
    margin-bottom: 1.5em;
    }
    @media (min-width: 48em) {
    .responsive-table {
    font-size: .9em;
    }
    }
    @media (min-width: 62em) {
    .responsive-table {
    font-size: 0.5em;
    }
    }
    .responsive-table thead {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    }
    @media (min-width: 48em) {
    .responsive-table thead {
    position: relative;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
    }
    }
    .responsive-table thead th {
    background-color: #1d96b2;
    border: 1px solid #1d96b2;
    font-weight: normal;
    text-align: center;
    color: white;
    }
    .responsive-table thead th:first-of-type {
    text-align: left;
    }
    .responsive-table tbody,
    .responsive-table tr,
    .responsive-table th,
    .responsive-table td {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
    }
    @media (min-width: 48em) {
    .responsive-table tr {
    display: table-row;
    }
    }
    .responsive-table th,
    .responsive-table td {
    padding: .5em;
    vertical-align: middle;
    }
    @media (min-width: 30em) {
    .responsive-table th,
    .responsive-table td {
    padding: .75em .5em;
    }
    }
    @media (min-width: 48em) {
    .responsive-table th,
    .responsive-table td {
    display: table-cell;
    padding: .5em;
    }
    }
    @media (min-width: 62em) {
    .responsive-table th,
    .responsive-table td {
    padding: .75em .5em;
    }
    }
    @media (min-width: 75em) {
    .responsive-table th,
    .responsive-table td {
    padding: .75em;
    }
    }
    .responsive-table caption {
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    }
    @media (min-width: 48em) {
    .responsive-table caption {
    font-size: 1.0em;
    }
    }
    .responsive-table tfoot {
    font-size: .8em;
    font-style: italic;
    }
    @media (min-width: 62em) {
    .responsive-table tfoot {
    font-size: .9em;
    }
    }
    @media (min-width: 48em) {
    .responsive-table tbody {
    display: table-row-group;
    }
    }
    .responsive-table tbody tr {
    margin-bottom: 1em;
    border: 2px solid #1d96b2;
    }
    @media (min-width: 48em) {
    .responsive-table tbody tr {
    display: table-row;
    border-width: 1px;
    }
    }
    .responsive-table tbody tr:last-of-type {
    margin-bottom: 0;
    }
    @media (min-width: 48em) {
    .responsive-table tbody tr:nth-of-type(even) {
    background-color: rgba(94, 93, 82, 0.1);
    }
    }
    .responsive-table tbody th[scope="row"] {
    background-color: #1d96b2;
    color: white;
    }
    @media (min-width: 48em) {
    .responsive-table tbody th[scope="row"] {
    background-color: transparent;
    color: #5e5d52;
    text-align: left;
    }
    }
    .responsive-table tbody td {
    text-align: right;
    }
    @media (min-width: 30em) {
    .responsive-table tbody td {
    border-bottom: 1px solid #1d96b2;
    }
    }
    @media (min-width: 48em) {
    .responsive-table tbody td {
    text-align: center;
    }
    }
    .responsive-table tbody td[data-type=currency] {
    text-align: center;
    }
    .responsive-table tbody td[data-title]:before {
    content: attr(data-title);
    float: left;
    font-size: .8em;
    color: rgba(94, 93, 82, 0.75);
    }
    @media (min-width: 30em) {
    .responsive-table tbody td[data-title]:before {
    font-size: .9em;
    }
    }
    @media (min-width: 48em) {
    .responsive-table tbody td[data-title]:before {
    content: none;
    }
    }
  script(src='https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js')

block content
  h1=title
  p Welcome to the Explorer!
  p Here you can find interesting data sets and set your favorite filters
  
  h1=message
  
  div.row
    div.col-sm-6
      form(action="/explore" method="post")
        .container
          table.responsive-table
            caption Data Explorer
            thead
              tr
                th(data-title='Studio') Item
                th(data-title='Studio') Entry

            tbody
              tr
                th(data-title='Studio') Data Set
                td(data-title='Studio') 
                  select#data_sel.form-control(type="text" name="data_set" required)
                    option(value='')
                    option(value='OCC_BY_STATE') Occupation List by State
              tr
                th(data-title='Studio') Year
                td(data-title='Studio') 
                  select#year.form-control(type="text" name="year")
                    option(value='')
                    option(value='2014') 2014
                    option(value='2015') 2015
                    option(value='2016') 2016
              tr
                th(data-title='Studio') State
                td(data-title='Studio') 
                  select#state.form-control(type="text" name="state")
                    option(value='')
                    each val, key in state
                      option(value=key) #{val}
              tr
                th(data-title='Studio') Occupation
                td(data-title='Studio')
                  select#occ.form-control(type="text" name="occ")
                    option(value='')
                    each val, key in occ
                      option(value=key) #{val}
              tr
                th(data-title='Studio') Education
                td(data-title='Studio')
                  select#edu.form-control(type="text" name="edu")
                    option(value='')
                    each val, key in edu
                      option(value=key) #{val}
              tr
                th(data-title='Studio') Min Salary
                td(data-title='Studio') 
                  input#minsal.form-control(type="text" name="min_sal" value='')
              tr
                th(data-title='Studio') Max Salary
                td(data-title='Studio') 
                  input#maxsal.form-control(type="text" name="max_sal" value='')
            tfoot
              tr
                th(data-title='Studio')
                td(data-title='Studio') 
                  button#subbtn.btn.btn-primary.col-md-6(type="submit") Submit

    div.col-sm-6
      #res.container
    
block footer
  script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
  script.
    function clear_hide(obj){
      o = obj[0];
      o.value = '';
      o.selected = '';
      obj.hide();
    }
    
    function setSelectedValue(selectObj, valueToSet) {
      for (var i = 0; i < selectObj.options.length; i++) {
        if (selectObj.options[i].value == valueToSet) {
            selectObj.options[i].selected = true;
            return;
        }
      }
    }
    
    function makeTable(container, data) {
      var table = $("<table/>").addClass('responsive-table');
      var head = $("<thead>").append($("<tr>")).append($("<th>").text("Results"));
      var body = $("<tbody/>");
      table.append(head);
      table.append(body);
      $.each(data, function(rowIndex, r) {
          var row = $("<tr/>");
          $.each(r, function(colIndex, c) { 
              row.append($("<td/>").text(c));
          });
          body.append(row);
      });
      return container.append(table);
    }
    
    $(document).ready(function(){
      var $form = $('form');
      var $sel = $('#data_sel');
      var $year = $('#year'); 
      var $state = $('#state'); 
      var $occ = $('#occ'); 
      var $edu = $('#edu'); 
      var $minsal = $('#minsal'); 
      var $maxsal = $('#maxsal');
      var $restbl = $('#restbl');
      var $res = $('#res');
      var $subbtn = $('#subbtn');
      var qString;
      
      $form.submit(function(){
        $res.empty();
        var params = $(this).serializeArray();
        params.push({name:'fav', value:'fav'});
        
        console.log("HERE", params);
        $.post($(this).attr('action'), $(this).serialize(), function(response){
          console.log(response);
          
          var fav = $("<button/>").addClass('btn btn-primary col-md-6').text('Favorite');
          fav.click( function(d){
            $.ajax({
              type: 'POST',
              url: '/explore',
              data: params,
              success: function(r){console.log(r);},
              dataType: 'json'
            });
            $(this).prop('disabled', true);
          });
          $res.append(fav);
          
          var ds = $sel[0].value;
          
          switch(ds){
            case 'OCC_BY_STATE':
              makeTable($res, response);
              $restbl.show();
              break;
            default:
              console.log('default', response);
          }
        },'json');
        return false;
      });
      
      
      $sel.change(function(){
        var ds = this.value;
        console.log('CHANGE:',ds);
        
        switch(ds){
          case 'OCC_BY_STATE':
            clear_hide($occ)
            clear_hide($edu); 
            clear_hide($minsal); 
            clear_hide($maxsal);
            break;
          default:
            console.log('default');
            $year.show(); 
            $state.show(); 
            $occ.show(); 
            $edu.show(); 
            $minsal.show(); 
            $maxsal.show();
        }
      });
      
      if(location.search){
        qString = JSON.parse( decodeURIComponent( location.search.split('=')[1] ) );
        setSelectedValue($sel[0], qString.data_set);
        setSelectedValue($year[0], qString.year);
        setSelectedValue($state[0], qString.state);
        setSelectedValue($occ[0], qString.occ);
        setSelectedValue($edu[0], qString.edu);
        $minsal[0].value = qString.minsal || '';
        $maxsal[0].value = qString.maxsal || '';
        
        $subbtn[0].click();
      }
    });