extends layout

block content
  h1(class="text-center", style="color:#3e95cd")= title
  p(class="text-center") Welcome to #{title}! 
  p(class="text-center", style="font:georgia") CareerExporer provides an interactive display of the datasets from Bureau of Labor Statistics. Here you can view popular labor statistics, as well as create your own queries and charts.
  p(class="text-center") For example, the following list and the chart below shows top 10 highest paid occupations:
  ol
     each element in JSON.parse(hpaid)
        li= element['OCC_TITLE']
  p
  br
  br

  script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js')

  canvas#bar-chart-horizontal(width='800', height='450')
  script.
    var myHpaid = !{hpaid};
    console.log(myHpaid);
    data = myHpaid;
    //console.log(data);
    
    new Chart(document.getElementById("bar-chart-horizontal"), {
    type: 'horizontalBar',
    data: {
      labels: [data[0]['OCC_TITLE'], data[1]['OCC_TITLE'], data[2]['OCC_TITLE'], data[3]['OCC_TITLE'], data[4]['OCC_TITLE'], data[5]['OCC_TITLE'], data[6]['OCC_TITLE'], data[7]['OCC_TITLE'], data[8]['OCC_TITLE'], data[9]['OCC_TITLE']],
      datasets: [
        {
          label: "Salary",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850","#3e95ch", "#8e56a1","#3cb690","#e862b9","#c45950" ],
          data: [data[0]['A_MEDIAN'], data[1]['A_MEDIAN'], data[2]['A_MEDIAN'], data[3]['A_MEDIAN'], data[4]['A_MEDIAN'], data[5]['A_MEDIAN'], data[6]['A_MEDIAN'], data[7]['A_MEDIAN'], data[8]['A_MEDIAN'], data[9]['A_MEDIAN']]
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Top 10 highest paid occupations as of 2016'
      }
    }
    });
  
  p
  br
  br
  p The following chart illustrates the most popular occupations with more than 1 million employees
  br
  br


  canvas#bar-chart(width='800', height='450')
  
  script.
      var myOcc = !{occ};
      console.log(myOcc);
      data = myOcc.slice(0,4);
      console.log(data);
      
      new Chart(document.getElementById("bar-chart"), {
        type: 'bar',
        data: {
          labels: [data[0]['OCC_TITLE'], data[1]['OCC_TITLE'], data[2]['OCC_TITLE'], data[3]['OCC_TITLE'],],
          datasets: [
            {
              label: "Employed",
              backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
              data: [data[0]['TOT_EMP'], data[1]['TOT_EMP'], data[2]['TOT_EMP'], data[3]['TOT_EMP']]
            }
          ]
        },
        options: {
          legend: { display: false },
          title: {
            display: true,
            text: 'Occupations with more than 1-million employees'
          }
        }
      });
  
  p NEw chart
  br
  br
  p
  canvas#pie-chart(width='800', height='450')

  script.
      var myStates = !{states};
      console.log(myStates);
      data = myStates;
      console.log(data);

      new Chart(document.getElementById("pie-chart"), {
        type: 'pie',
        data: {
          labels: "States",
          datasets: [{
            label: "Population (millions)",
            backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
            data: [data[0]['SUM'], data[1]['SUM'], data[2]['SUM'], data[3]['SUM'], data[4]['SUM'], data[5]['SUM'], data[6]['SUM'], data[7]['SUM'], data[8]['SUM'], data[9]['SUM'], data[10]['SUM']]
          }]
        },
        options: {
          title: {
            display: true,
            text: 'Predicted world population (millions) in 2050'
          }
        }
      });
